################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Kata.Checkout/bin
/Kata.Checkout/obj
/Kata.Checkout.Test/bin
/Kata.Checkout.Test/obj
